<html>
    <head>
        <title>Sundar Software Consulting</title>
        <meta name="description" content="Independent software consulting by Ashwin Sundar. Python-based development, FastAPI, Django, HTMX, Datastar, Alpine.js, Tailwind CSS. Greenfield projects, staff augmentation.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', path='/css/styles.out.css') }}" rel="stylesheet">
    </head>
    <body class="max-w-4xl mx-auto font-mono text-blue-900 space-y-4">
        <header class="p-2 bg-blue-100 w-full sticky">
            {% include "header_footer.html" %}
        </header>
        <main class="grid grid-cols-2 gap-2 px-2 sm:px-4 [&>*]:border-black [&>*]:border-2 [&>*]:p-2">
            <div>
                <h2>⭐ <b><u>Hire me for</u></b><h2>
                <ul class="list-disc list-outside pl-4">
                    <li>🌐 Full Stack Web Development</li>
                    <li> Web Design</li>
                    <li>Scientific Programming in Python</li>
                    <li>🌲 Greenfield Projects</li>
                    <li>💪 Staff Augmentation</li>
                    <li>🔧 Code Maintenance</li>
                    <li>➗ Major Refactors</li>
                    <li>🪲 Bug Bashing</li>
                    <li>⏱️ Anything that you can't get to in the next sprint/epic/year</li>
                </ul>
            </div>
            <div>
                <h2><b><u>My preferred software stack</u></b><h2>
                <ul class="list-disc list-outside pl-4">
                    <li>Python</li>
                    <li>FastAPI/Django</li>
                    <li>HTMX/Datastar</li>
                    <li>Alpine.js</li>
                    <li>Tailwind CSS</li>
                </ul>
            </div>
            <div class="col-span-2">
                <h2><b><u>Portfolio</u></b><h2>
                <div class="grid grid-cols-1 md:grid-cols-3">
                    <div>
                        <h3>mousehouse.bio</h3>
                    </div>
                    <div>
                        <h3>ashwinsundar.com</h3>
                    </div>
                    <div>
                        <h3>raisingcanes.com</h3>
                    </div>
                </div>
            <div>
        </main>
        <footer class="p-2 bg-blue-50 w-full sticky top-[100vh]">
            {% include "header_footer.html" %}
        </footer>
    </body>
</html>
